apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: nginx-ingress-controller
  name: private-nginx-ingress-controller
  namespace: kube-system
data:
  enable-vts-status: "false"
  log-format-escape-json: 'true'
  log-format-upstream: '{"time_date": "$time_iso8601", "client": "$remote_addr", "host":
    "$http_host", "scheme": "$scheme", "request_method": "$request_method", "request_uri":
    "$uri", "request_id": "$request_id", "upstream_addr": "$upstream_addr", "upstream_status":
    $upstream_status, "request_time": $request_time, "upstream_response_time": $upstream_response_time,
    "upstream_connect_time": $upstream_connect_time, "upstream_header_time": $upstream_header_time}'
